@font-face {
    font-family: 'FormularLight';
    src: url("fonts/Formular-Light.otf") format("opentype");
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: inherit;
    vertical-align: top;
    -webkit-appearance: none;
    -webkit-text-size-adjust: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
    height: 0;
}

.clearfix:after {
    clear: both;
}

html, body {
    height: 100%;
}

body {
    font-family: FormularLight, Arial, Helvetica, sans-serif;
}

.presentation {
    opacity: 0;
    min-height: 100%;
    padding: 4% 4.5%;
    font-size: 25px;
    color: #333;

    -webkit-transition: opacity 1s linear;
    transition: opacity 1s linear;
}

.presentation.show {
    opacity: 1;
}

a, a:visited {
    color: #333;
}

.brand {
    float: left;
    width: 41%;
}

.logo {
    float: right;
    width: 20%;
}

/* Main content */
.content-main {
    width: 80%;
    margin: 0 auto;
    height: 620px;
}

.item-wrap {
    float: left;
    width: 50%;
    height: 100%;
}

.item {
    margin: 20% 0 0 10%;
    width: 80%;
    height: 56%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% auto;
    cursor: pointer;

    -webkit-transition: -webkit-transform .25s linear;
    transition: transform .25s linear;
}

.item:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.item-left {
    background-image: url("../images/shoes-1.jpg");
}

.next .item-left{
    background-image: url("../images/watch-1.jpg");
}

.item-left:hover {
    background-image: url("../images/smart.png");
}

.item-right {
    background-image: url("../images/shoes-2.jpg");
}

.next .item-right {
    background-image: url("../images/watch-2.jpg");
}

.item-right:hover {
    background-image: url("../images/heart.png");
}

.item-right {
    text-align: right;
}

/* Content Bottom */
.content-bottom {
    line-height: 1.1;
}

.download {
    float: left;
    width: 20%;
}

.contacts-block {
    float: right;
    width: 43%;
}

.contacts, .address {
    display: inline-block;
    width: 49%;
}

.address {
    padding-left: 7%;
}

.download-link {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAMAAAANIilAAAAAaVBMVEUAAAA0NDM0NDM0NDM0NDPMzMz///80NDM0NDM0NDM0NDM0NDM0NDNdXVw0NDM0NDM0NDM0NDM0NDM0NDNBQUBNTU1aWllnZ2Zzc3OAgICNjYyampmzs7PAwL/MzMzZ2dnm5uby8vL////xchhSAAAAE3RSTlMAECAwQEBAUGBwgI+fn6+/z9/vO75asgAAAhpJREFUeAGl1n9v2jAQxvHnbG9xbM8/7qHrurbruvf/IkdUQIKYEMLnn0a6fK3KQhzokyHkotyrJQWH9UysJFvJYa8U7mUvWMMXskYnODE+KZns7bRRo8HMkMiynNvC5tFnEhkFVwUyLIxNZnPok8JqsGhQjv1zKyNukcqEOav0WCF1aqPqgG21VC61y3Whx2rp/OXAiPWkqsWJZcU9rFacFDW4y8iAA8+AvuDQV1XwpTVB39VT3XHi6XFvjKJy+Iv7Y8cRe4ZxQ4zWsBdptsQjLYBasSU200wYN8VoBRjotsWJQKBsiz0tcsO22HFAKcvx4lDzAzHD5jg+EJfyQFwfiRmmfntcLmOJ30/44/T4LXQ+3Imzbff8+e+Ar8enjx0tzjg6BJpZ/fRxGb9xtlCm0NHPd+Hu/Tx+6ezPrAA6i8u2qTrFn89MgkuajyfMV/XL5zH+eOpd+kAPwHPAXOLPv1/x+077LwgAYUKH5+7PFL+yWcyJ5sMZpr+Q+Mbfv1gEHcf/1zKhRyr34sI376TQ9OtEenSNp4FlRt9o0SXacBQ54C6ZDkfSVHAHf3YTjhXrWW1yfgEJa0lTu/z7aKGt9MByvdx2asFNtk1tr64WN3hVf3UyYolkNosrbGV1uGpURsF1QVn6ufjG5rBI9nkbDS4MSdk8bpKxkS15hy/GhaxkHrCODYWclMqJZi+4hx1CiKWEEJzBFf8Bop4nlpkUXjcAAAAASUVORK5CYII=) no-repeat;
}

.fb-link {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAMAAAANIilAAAAAM1BMVEUAAAA0NDM0NDM0NDM0NDM0NDM0NDM0NDM0NDM0NDM0NDM0NDM0NDM0NDM0NDM0NDM0NDO52TkZAAAAEHRSTlMAECAwQFBgcICPn6+/z9/vIxqCigAAAddJREFUeAGll9uOqzAMRXcuBJOLvf//a89pO0gdFVPIrJc+JMuxd4MEOCYs0rqR5OhVMq4Tt0FSe5P/9E6SrYRLaunk2PLb5liqkTV9V5W2RXywVLKf66lTizdMJbfgu0LKyXJsVC+70DkiTlmM63HdwQ3fCIP1aFxjwQXqgR3NMjBnh8GHO2d3Flym/t4sTlZuauktLA7cIdnb/m4Rt1gp+KFQcJNhAS9Ug9tgHaR+PlB5P6/4SW9k36Tp51Tdws+vP1rzwsivSx7dvylYh4vqqzWveuFyFngCMIY/MXwiBQj+5eodJ2gHFuY5uRIQhjm5MKEp5uTMBb1PyqDA2h9kyuHCO3IsW3VkeaAqT7LbGGW27fEXmfLw5+U+K0cKKqcvSYYwzskPMbPMyc0AsM7J1p4VpuTl2XHhMiNXBgCBdUIO1n5qxPvy3m9ivS+r7puco7fNdVcWvEhsuEcwxc7G5Z7cmLET1OIdt/B9oMxxw02m4XcA9frAasl/PzonDBZgwnbcpx0uzKtH7sMe6ZtbzIq7sp633Khu/TQ4su+uxi3gdL0f66EoNeOUIEZd4+f3iVELvhJWJbWW/ZSYpRnZFlwjSeeTPvjAWgm4Q1pEtt5FJEc4/APRihZYMmqicgAAAABJRU5ErkJggg==) no-repeat;
}

.icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    float: left;
    margin-right: 25px;
    background-size: 100% 100%;

    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

.icon:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.content-bottom a:hover {
    text-decoration: underline;
}

/* res1280 */
@media only screen and (min-width: 1280px) and (max-width: 1679px) {

    .presentation {
        font-size: 20px;
    }

    .content-main {
        width: 90%;
    }

    .item-wrap {
        width: 48%;
    }

    .item-wrap:first-child {
        margin-right: 4%;
    }

    .item {
        width: 86%;
        height: 60%;
        margin-left: 7%;
    }

    .contacts-block {
        width: 44%;
    }

    .icon {
        width: 45px;
        height: 45px;
        margin-right: 20px;
    }
}

/* res1024 */
@media only screen and (min-width: 1024px) and (max-width: 1279px) {

    .presentation {
        font-size: 19px;
    }

    .content-main {
        height: 526px;
        width: 90%;
    }

    .item-wrap {
        width: 49%;
    }

    .item-wrap:first-child {
        margin-right: 2%;
    }

    .item {
        width: 90%;
        margin-left: 5%;
    }

    .contacts-block {
        width: 52%;
    }

    .icon {
        width: 42px;
        height: 42px;
        margin-right: 25px;
    }
}


/* res960 */
@media only screen and (min-width: 960px) and (max-width: 1023px) {

    .presentation {
        font-size: 18px;
    }

    .contacts-block {
        width: 49%;
    }

    .icon {
        width: 38px;
        height: 38px;
        margin-right: 15px;
    }
}

/* res640 */
@media only screen and (min-width: 640px) and (max-width: 959px) {

    .presentation {
        font-size: 22px;
        padding: 45px;
    }

    .brand {
        width: 58%;
    }

    .logo {
        width: 28%;
    }

    .content-main {
        height: 824px;
        margin-bottom: 60px;
    }

    .item-wrap {
        float: none;
        width: 100%;
        height: 50%;
        margin-top: 20px;
    }

    .item-wrap:first-child {
        padding-top: 100px;
    }

    .item {
        margin: 0 auto;
        height: 270px;
        width: 450px;
    }

    .contacts-block {
        width: 54%;
        text-align: right;
    }

    .icon {
        width: 52px;
        height: 52px;
    }

    .download {
        width: 40%;
    }

    .contacts {
        min-width: 266px;
    }

    .address {
        display: none;
    }
}

/* res480 */
@media only screen and (min-width: 480px) and (max-width: 639px) {

    .presentation {
        font-size: 14px;
        padding: 10% 4.5%;
    }

    .brand, .logo {
        float: none;
    }

    .brand {
        margin: 0 auto 40px;
        width: 80%;
    }

    .logo {
        margin: 0 auto;
        width: 50%;
    }

    .content-main {
        height: 570px;
        width: 86%;
        margin: 20px auto;
    }

    .item-wrap {
        float: none;
        width: 100%;
        height: 50%;
        padding-top: 10px;
    }

    .item {
        width: 360px;
        margin: 0 auto;
        height: 220px;
    }

    .icon {
        width: 30px;
        height: 30px;
        margin-right: 15px;
    }

    .download {
        width: 40%;
    }

    .contacts-block {
        width: 50%;
        text-align: right;
    }

    .contacts {
        margin-right: 10px;
        min-width: 164px;
    }

    .contacts .icon {
        margin-right: 13px;
    }

    .address {
        display: none;
    }
}

/* res320 */
@media only screen and (max-width: 479px) {

    .presentation {
        font-size: 12px;
        padding: 10% 4.5%;
    }

    .brand, .logo {
        float: none;
    }

    .brand {
        margin: 0 auto 46px;
        width: 86%;
    }

    .logo {
        margin: 0 auto;
        width: 62%;
    }

    .item-wrap {
        float: none;
        width: 100%;
        height: 50%;
    }

    .content-main {
        height: 398px;
        width: 86%;
        margin: 20px auto 26px;
    }

    .item {
        width: 250px;
        margin: 0 auto;
        height: 150px;
    }

    .icon {
        width: 26px;
        height: 26px;
        margin-right: 15px;
    }

    .download {
        width: 40%;
    }

    .contacts-block {
        width: 50%;
        text-align: right;
    }

    .contacts {
        margin-right: 10px;
        min-width: 142px;
    }

    .contacts .icon {
        margin-right: 13px;
    }

    .address {
        display: none;
    }
}